@import "~bootstrap/scss/bootstrap";

body {
    background-image: url("../img/picsum16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
    font-size: 3em;
}

h2{
    color: red;
}

header{
    height: 150px;
    background-color: black;
}

body{
    background-color: rgb(42, 39, 39);
}

footer{
    height: 100px;
    background-color: black;
}
